* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 100%;
    background: #FFFFFF;
}

.Header {
    padding: 30px;
    padding-left: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    margin: 15px;
}

.title h1 {
    text-transform: uppercase;
    color: #343D33;
    font-weight: 500;
    font-family: Roboto;
    font-size: 24px;
}

.title h2 {
    font-family: Roboto;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    margin-top: 3px;
}

.Header-components {
    display: flex;
    padding-left: 32rem;
    gap: 32px;
    font-family: Roboto;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
}

#home {
    color: #475F45;
}

#visit, #exhibitions, #programs, #store {
    color: #414840;
}

#membership {
    align-items: center;
    color: #475F45;
    border: 2px solid #475F45;
    font-family: Roboto;
    font-weight: 500;
    text-transform: uppercase;
    height: 40px;
    width: 160px;
    transition: 0.3s;
    cursor: pointer;
}

#membership:hover {
    background: #334232;
    border: 2px solid #334232;
    color: white;
}

.Main-components {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Main-letters h1 {
    font-family: Libre Baskerville;
    font-weight: 400;
    font-size: 57px;
    color: #343D33;
}

.Main-letters  h2 {
    font-family: Roboto;
    font-weight: 300;
    font-size: 25px;
    color: #414840;
}

.Main-buttons button {
    font-family: Roboto;
    font-size: 14px;
    text-transform: uppercase;
    width: 11rem;
    height: 56px;
    margin-top: 2rem;
}

.Main-buttons #buy {
    font-weight: 500;
    background: #475F45;
    border: none;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.Main-buttons #buy:hover {
    background: #ececec;
    color: #475F45;
    border: 2px solid #475F45;
    font-weight: 700;
}

.Main-buttons #learn {
    font-weight: 700;
    margin-left: 14px;
    align-items: center;
    color: #475F45;
    border: 2px solid #475F45;
    cursor: pointer;
    transition: 0.2s;
}

.Main-buttons #learn:hover {
    background: #334232;
    color: white;
    font-weight: 500;
}